body {
	background-image: url(../images/laptop.jpg);
	background-size: cover;
	font-family: 'PT Serif', serif;
	text-align: center;
}

.header {
	font-family: 'Playfair Display', serif;
}

.colored {
	color: #ecf0f1;
	font-size: 24px;
}

.info {
	color: #e74c3c
}


