* {
	margin: 0;
}

body {
	font-family: 'Droid Sans', sans-serif;
}

nav {
	background-color: #ecf0f1;
}

a {
	background-color: #ecf0f1;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
	color: black;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.greeting {
	height: 600px; 
	background: url("../images/image-2.jpg");
	background-size: cover;
	text-align: center;
}

.greeting h1 {
	color: #16a085;
	font-size: 2em;
	text-transform: uppercase;
	padding-top: 190px;
	text-shadow: 0.5px 1px #95a5a6;
}

.greeting p {
	width: 600px; height: 200px;
	margin-left: 380px;
	color: #34495e;
}

.skills h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 35px;
	color: #16a085;
}

.first {
	margin-left: 2%;
	margin-top: 30px;
}

.skills img {
	padding-left: 40%;
	padding-bottom: 10%;
}

footer {
	background-color: #ecf0f1;
	height: 40px;
}

footer p {
	text-align: center;
	padding-top: 15px;
}




